<%- include('parts/_header', {id: 'index'}); -%>

        <main class="contents index">
            <h2>タイトル</h2>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            <section>
                <h3>サブタイトル</h3>
                <p>テキストテキストテキストテキストテキスト</p>
            </section>
        </main>

<%- include('parts/_footer', {id: 'index'}); -%>